.tabs {
    // border : 15px solid #cccccc;
    display: inline;
}

.tabs__sidebar{
    display: flex;
    width: 70%;
    flex-shrink: 0;
    background: #cccccc;
}

.tabs__button {
    display: flex;
    padding: 10px;
    background : #eeeeee;
    border : none;
    width : 100%;
    outline : none;
    cursor : pointer;
}

.tabs__button:active {
    background : #dddddd;
}

.tabs__button:not(:last-of-type) {
    border-bottom: 1px solid #cccccc;
}

.tabs__button--active {
    font-weight: bold;
    border-right: 2px solid #009879;
    background: #dddddd;
}


.tabs__content {
    padding : 15px;
    font-size : 0.8rem;
    display: none;
    background-color: blueviolet;
}

.tabs__content--active {
    display : block;
}

.tabs__content > :first-child {
    margin-top : 0;
    background-color: aquamarine;
}

/*stopwatch*/

.container{
    height: 300px;
    width: 100%;
}

#display{
    width: 20%;
    font-size: 72px;
    text-align: center;
    margin: 0px auto;
}

.buttons{
    text-align: center;
}

/*countdown stopwatch*/

.countdownContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    background: #ddd;
    border: 1px solid #999;
    padding: 10px;
    box-shadow: 0 0 5px 3px #ccc;
}

.info{
    font-size: 80px;
}

.questions{
    padding-bottom: 30px;
    text-align: center;
    background: #009879;
}